USE [FLASH_CARD_LEARNING_DB]
GO
/****** Object:  Table [dbo].[FlashCards]    Script Date: 20-09-2025 11:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](300) NOT NULL,
	[answer] [nvarchar](300) NOT NULL,
	[stack_id] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningLog]    Script Date: 20-09-2025 11:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[flash_cards_reviewed] [nvarchar](max) NOT NULL,
	[stack_id] [int] NOT NULL,
	[session_date] [datetime] NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stacks]    Script Date: 20-09-2025 11:54:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stack_name] [nvarchar](100) NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FlashCards] ON 

INSERT [dbo].[FlashCards] ([id], [question], [answer], [stack_id], [created_date]) VALUES (4, N'test1', N'test', 2, CAST(N'2025-09-13T14:46:30.373' AS DateTime))
INSERT [dbo].[FlashCards] ([id], [question], [answer], [stack_id], [created_date]) VALUES (6, N'123', N'123', 1002, CAST(N'2025-09-13T16:35:36.550' AS DateTime))
INSERT [dbo].[FlashCards] ([id], [question], [answer], [stack_id], [created_date]) VALUES (1002, N'answer is test', N'test', 1, CAST(N'2025-09-14T07:12:15.763' AS DateTime))
SET IDENTITY_INSERT [dbo].[FlashCards] OFF
GO
SET IDENTITY_INSERT [dbo].[LearningLog] ON 

INSERT [dbo].[LearningLog] ([id], [flash_cards_reviewed], [stack_id], [session_date], [duration_minutes], [points]) VALUES (1, N'', 2, CAST(N'2025-09-15T07:25:33.447' AS DateTime), 2, 40)
INSERT [dbo].[LearningLog] ([id], [flash_cards_reviewed], [stack_id], [session_date], [duration_minutes], [points]) VALUES (2, N'4,', 2, CAST(N'2025-09-15T07:29:01.410' AS DateTime), 0, 60)
INSERT [dbo].[LearningLog] ([id], [flash_cards_reviewed], [stack_id], [session_date], [duration_minutes], [points]) VALUES (1002, N'4,', 2, CAST(N'2025-09-16T05:46:58.230' AS DateTime), 0, 60)
SET IDENTITY_INSERT [dbo].[LearningLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Stacks] ON 

INSERT [dbo].[Stacks] ([id], [stack_name], [created_date]) VALUES (1, N'c# phase 1', CAST(N'2025-09-09T06:39:30.210' AS DateTime))
INSERT [dbo].[Stacks] ([id], [stack_name], [created_date]) VALUES (2, N'C# Learning', CAST(N'2025-09-09T06:42:12.550' AS DateTime))
INSERT [dbo].[Stacks] ([id], [stack_name], [created_date]) VALUES (1002, N'Dot Net Questions', CAST(N'2025-09-12T07:02:54.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Stacks] OFF
GO
ALTER TABLE [dbo].[FlashCards] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[LearningLog] ADD  DEFAULT (getdate()) FOR [session_date]
GO
ALTER TABLE [dbo].[Stacks] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[FlashCards]  WITH CHECK ADD  CONSTRAINT [FK_FlashCards_Stacks] FOREIGN KEY([stack_id])
REFERENCES [dbo].[Stacks] ([id])
GO
ALTER TABLE [dbo].[FlashCards] CHECK CONSTRAINT [FK_FlashCards_Stacks]
GO
ALTER TABLE [dbo].[LearningLog]  WITH CHECK ADD  CONSTRAINT [FK_LearningLog_Stacks] FOREIGN KEY([stack_id])
REFERENCES [dbo].[Stacks] ([id])
GO
ALTER TABLE [dbo].[LearningLog] CHECK CONSTRAINT [FK_LearningLog_Stacks]
GO
