USE [FLASH_CARD_LEARNING_DB]
GO
/****** Object:  Table [dbo].[FlashCards]    Script Date: 19-10-2025 12:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlashCards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [nvarchar](300) NOT NULL,
	[answer] [nvarchar](300) NOT NULL,
	[stack_id] [int] NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningLog]    Script Date: 19-10-2025 12:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[flash_cards_reviewed] [nvarchar](max) NOT NULL,
	[stack_id] [int] NOT NULL,
	[session_date] [datetime] NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stacks]    Script Date: 19-10-2025 12:20:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[stack_name] [nvarchar](100) NOT NULL,
	[created_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FlashCards] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[LearningLog] ADD  DEFAULT (getdate()) FOR [session_date]
GO
ALTER TABLE [dbo].[Stacks] ADD  DEFAULT (getdate()) FOR [created_date]
GO
ALTER TABLE [dbo].[FlashCards]  WITH CHECK ADD  CONSTRAINT [FK_FlashCards_Stacks] FOREIGN KEY([stack_id])
REFERENCES [dbo].[Stacks] ([id])
GO
ALTER TABLE [dbo].[FlashCards] CHECK CONSTRAINT [FK_FlashCards_Stacks]
GO
ALTER TABLE [dbo].[LearningLog]  WITH CHECK ADD  CONSTRAINT [FK_LearningLog_Stacks] FOREIGN KEY([stack_id])
REFERENCES [dbo].[Stacks] ([id])
GO
ALTER TABLE [dbo].[LearningLog] CHECK CONSTRAINT [FK_LearningLog_Stacks]
GO
